* {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 177, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  position: fixed;
  width: 100%;


}

ul li {
  list-style: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.Container1 {
  padding: 50px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;

}

.Container2 {
  padding: 50px;
  background-color: rgb(131, 127, 255);
  display: flex;
  border-radius: 50px;
  justify-content: space-around;

}

.box1 {
  background-color: rgb(215, 43, 43);
  padding: 50px;
  margin: 50px;
  width: 50px;

}

.box2 {
  background-color: rgb(215, 43, 43);
  padding: 50px;
  margin: 50px;
  width: 50px;

}

.img {
  border-radius: 100%;
  padding: 50px;
  width: 98px;
  height: 90px;
  left: 80%;
  position: sticky;
}