* {
  text-align: center;
  background-color: black;
  color: whitesmoke;
}

span {
  color: greenyellow;
}

h2 i {
  color: hotpink;
}

#pets {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  border: 2px solid rgb(17, 255, 0);
  width: 400px;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
}

img {
  width: 400px;
  border-radius: 30px;
  height: 250px;
}

h4 {
  color: rgb(17, 255, 0);
}

@media screen and (max-width: 768px) {
  #pets {
    flex-wrap: wrap;
  }
}