* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #334155; */
    font-family: 'Poppins';
}
:root {
    --dark-color:#0f172a;
    --text-color: #334155;
    --bg-hover: #f1f5f9;
    --green: #f0fdf4;
    --blue: #eff6ff;
    --bg: #f8fafc;
    --white:#ffffff;
    --bg-green:#e3ffe6;
    --pink:#fef2f2;
    --discover-content:#6B7280;
    --bg-color : #F7F7F9;
}
.container{
    max-width:1140px;
    margin: 0 auto;
}
.col-1 {
    width: 8.333%;
    padding: 15px;
}
.col-2 {
    width: 16.666%;
    padding: 15px;
}
.col-3 {
    width: 25%;
    padding: 15px;
}
.col-4 {
    width: 41.666;
    padding: 15px;
}
.col-5 {
    width: 41.666%;
    padding: 15px;
}
.col-6 {
    width: 50%;
    padding: 15px;
}
.col-7 {
    width: 58.333%;
    padding: 15px;
}
.col-8 {
    width: 66.66%;
    padding: 15px;
}
.col-9 {
    width: 75%;
    padding: 15px;
}
.col-10 {
    width: 83.33%;
    padding: 15px;
}
.col-11 {
    width: 91.666%;
    padding: 15px;
}
.col-12 {
    width: 100%;
    padding: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.justify-between{
    justify-content:space-between;   
}
.align-items-center{
    align-items:center;
}
.justify-center{
    justify-content: center;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    width:100%;
    height: 100%;
}


.dark-btn{
    padding:5px;    
    margin: 5px;
    border-radius: 30%;
    border:none;
    background-color: var(--dark-color);
    color:var(--white);
    padding:15px 30px;
    margin-top:50px;
    display:inline-block;
    border-radius: 30px;
}
.dark-btn:hover{
    opacity:0.9;
}
i{
    margin-left: 2px;
}
header{
    padding: 10px 0;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 111;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}
header ul li a{
    padding: 8px 15px;
    color:var(--text-color);
    font-weight: 500;
    font-size:15px;
    border-radius: 30px;
}
header ul li a:hover{
    background-color:var(--bg-hover);
}
header ul li a i{
    width:16px;
    height:16px;
    padding-top:5px;
}
header .dropdown{
    position:absolute;
    background-color:var(--white);
    padding:15px 10px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.05);
    border-radius:15px;
    border: 1px solid var(--bg);
    width:200px;
    top:65px;
    visibility: hidden;
    opacity:0;
    transition:all 0.5s;

}
.dropdown li a{
    display :block;
    border-radius:5px;
    font-weight:normal;
}

header ul li:hover .dropdown{
    visibility:visible;
    opacity:1;
}

.dropdown li{
    position:relative;
}

.dropdown .submenu{
    position:absolute;
    background-color: var(--white);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.05);
    border-radius:15px;
    border: 1px solid var(--bg);
    left:110%;
    width:200px;
    padding:15px 10px;
    top:0;
    visibility: hidden;
    opacity:0;
    transition: all 0.2s;
}

.dropdown li:hover .submenu{
    visibility:visible;
    opacity: 1;
}
icon{
    width: 100px;
}

i{
    padding-left: 5px;
}
.megamenu{
    position:absolute;
    background-color: var(--white);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.05);
    border-radius: 15px;
    border:1px solid var(--bg);
    width:100%;
    padding:15px 10px;
    left:0;
    top: 65px;
    visibility:hidden;
    opacity:0;
    transition:all 0.2s;
    
} 

.megamenu .header-box{
    background-color: var(--blue);
    padding:20px;
    border-radius:10px;
}
.megamenu .header-box:hover{
    background-color:#dde5f1;
}

.megamenu a:hover{
    background-color:transparent;
}

.megamenu a{
    font-size: 14px;
    font-weight: normal;    
    padding:8px 0;
}

a{
    line-height: 30px;
}

header ul li:hover .megamenu{
    visibility:visible;
    opacity:1;
}

.megamenu img{
    width: 120px;
    margin: auto;
}

.btn{
    padding:8px 10px;
    background-color:var(--white);
    box-shadow: 2px 8px 40px rgba(0,0,0,.08);
}

.megamenu .btn{
    margin-top:50px;
    padding:8px 20px; 
}

.megamenu .btn:hover{
    background-color:#ffffff72;
}

.megamenu .header-box p{
    font-size:14px;
    font-weight:normal;
}
.header-box h3{
    font-weight:600;
    font-size:24px;
    margin-bottom: 20px;
}

.megamenu a span{
    background-color:rgb(239,68,68);
    color:var(--white);
    padding:0 5px;
    margin-left: 10px;
    font-size:10px;
    border-radius: 5px;
}
.megamenu h2{
    font-weight:500;
    font-size:14px;
    padding-bottom: 10px;
}
/* banner section css */
.banner{
    background:url('../image/Moon.d5aa06ae.svg'),var(--bg-green);
    padding: 120px 0;
}
.banner h1{
    font-size:50px;
    color:var(--dark-color);
    font-weight: 600;
    padding:25px 0;
}
.banner p{
    font-size:20px;
    color:var(--text-color);
    font-weight: 500;
}

/* discover section css */
.discover{
    padding:100px 0;
}
.discover-box{
    background-color:var(--blue);
    padding:20px;
    border-radius: 20px;
}
.discover-box a{
    padding:10px 20px;
    background-color:white;
    display:inline-block;
    border-radius: 30px;
    color:var(--text-color);
    font-weight:500;
    font-size:14px;
    margin-top:auto;
    text-align:center;
}

.discover-content h2 
{
    font-size:40px;
    color:var(--dirk-color);
    font-weight:600;
    padding-bottom:40px;
}

.discover-content h2 span{
    font-size:40px;
    color:var(--discover-content);
}

.discover-inner{
    display:flex;
    flex-direction:column;
}
.discover-inner h3{
    font-size:24px;
    font-weight:600;
    color:var(--dark-color);
}
.discover-inner p{
    font-size:14px;
    color:var(--text-color);
}
.orange{
    background-color: var(--pink);
}

.discover img {
    height: 230px;
    margin: auto;
}

.product-box .image-box{
    background-color: var(--bg);
    border-radius:10px;
    position:relative;
    overflow:hidden;
    height:310px;
    margin-bottom: 10px;
}

.bottom-icon{
    display:flex;
    position:absolute;
    transition: all 0.3s;
    bottom:-50px;
}

.size{
    width: 40px;
    height:40px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.05);
    text-align:center;
    border-radius:10px;
    margin:5px;
    background-color:var(--white);
    transition:all 0.5s;
}

.size h2{
    font-size:14px;
    line-height:40px;
}

.size:hover{
    background-color:var(--dark-color);
    color:var(--white);
}

.image-box:hover .bottom-icon{
    bottom:5px;
}

.heart-icon{
    position:absolute;
    top:16px;
    right: 16px;
    width:32px;
    height: 32px;
    background-color: white;
    color:#ef4444;
    box-shadow:0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 100%;
    text-align: center;
    padding-right: 4px;
}

.heart-icon i{
    line-height: 33px;
}

.color-image .img{
    width: 40px;
    height: 20px;
    background-image:url(../image/c1.jpg) ;
    margin-right: 3px;
    border-radius: 50px;
}

.color-image .img:nth-child(2){
    background-image:url(../image/c2.jpg) ;
}
.color-image .img:nth-child(3){
    background-image:url(../image/c3.jpg) ;
}
.color-image .img:nth-child(4){
    background-image:url(../image/c4.jpg) ;
}
.color-image .img:nth-child(5){
    background-image:url(../image/c5.jpg) ;
}
.color-image .img:nth-child(1){
    border: 4px double black;
}
.product-box h3{
    font-size:16px;
    font-weight: 600;
    color:var(--bark-color);
    padding:10px 0;
    
}
.product-box h4{
    font-size:14px;
    color:var(--text-light);
    font-weight: 400;
}
.product-box a{
    border:2px solid #22c55e;
    padding:0px 8px;
    border-radius: 10px;
    margin-top:10px;
    color:#22c55e;
}
.product-box p{
    color:var(--text-light);
}
.product-box p i{
    color:#fbbf24;
}

.section-title h3{
    font-size:40px;
    color:var(--dirk-color);
    font-weight:600;
    padding-bottom:40px;
}

.section-title h3 span{
    font-size:40px;
    color:var(--discover-content);
}

.product-box p i{
    color:#fbbf24;
}
.color-box .img{
    width: 20px;
    height: 20px;
    background-color: #a78bfa;
    border-radius: 100%;
    margin-right: 10px;
}

.color-box .img:nth-child(2){
    background-color:#facc15;
}
.color-box .img:nth-child(3){
    background-color:#fb923c;
}
.color-box .img:nth-child(4){
    background-color:#38bdf8;
}
.color-box .img:nth-child(5){
    background-color:#4ade80;
}

.border{
    border-bottom:1px solid rgb(226 232 240); 
    margin: 100px 50px;
}   

.step{
    background-image: url("../image/Vector.svg");
    background-repeat: no-repeat;
}

.step-box{
    text-align:center;
}

.step-box img{
    display:block;
    width:50%;
    margin:auto;
    margin-bottom:40px;
    
}

.step-box h2{
    font-size:16px;
    padding:15px 0;
    font-weight: 600;
}

.step-box p{
    color:var(--text-color);
    font-size:14px;
}

.step-box span{
    color:rgb(153 27 27);
    background-color: rgb(254 226 226);
    font-size:12px;
    padding:5px 15px;
    font-weight:600;
    border-radius: 20px;
    
}
.money-content img{
    width:30%;
}
.money-content h2{
    font-size:60px;
    font-weight:600;
    color:var(--dark-color);
    padding:15px 0;
}
.money-content p{
    color:var(--text-light);
    padding-bottom:20px;
}

.exploring{
    background-color: var(--bg-color);
    border-radius: 40px;
    padding: 60px 10px;
}
.exploring h2{
    font-size: 48px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
}
.exploring nav{
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    box-shadow:  0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.exploring nav button{
    border-radius: 50px;
    background-color: #fff;
    border: 0;
    font-size: 14px;
    font-family: 'poppins';
    padding: 12px 28px;
   
}
.exploring nav ul li:nth-child(2) button{
    border-radius: 50px;
    background-color: #000000;
    border: 0;
    color: white;
    font-size: 14px;
    font-family: 'poppins';
    padding: 12px 28px;
   
}
.exploring nav  button i{
    margin-right: 10px;
}
.exploring .card-category{
    width: 350px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 25px 0 25px;
    overflow: hidden;
}
.exploring .card-category:hover{
    box-shadow:  0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
}
.card-category .img, .card-category .img2,.card-category .img3{
    width: 75px;
    height: 75px;
    background-color: #EEF2FF;
    overflow: hidden;
    border-radius: 50%;
}
.card-category .img2{
    background-color: #F4F7FA;
}
.card-category .img3{
    background-color: #FFF7ED;
}
.card-category span{
    font-size: 13px;
}
.text-content .col-7, .text-content .col-5{
    padding: 0;
    padding-top: 30px;
}
.text-content img{
    width: 155px;
}
.text-content h5{
    font-size: 13px;
    color: gray;
    font-weight: 400;
}
.text-content h3{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
}
.text-content a{
    font-size: 15px;
    color: black;
}
.card-category:hover a{
    color: rgb(59, 131, 246);
}
.arrivals1{
    margin-top: 100px;
    margin-bottom: 100px;
}

.offer-kids{
    width: 100%;
    height: 450px;
    position: relative;
    background-color: #FEFCE8;
    background-size: contain;
    background-image: url(../image/Moon.d5aa06ae.svg);
    padding: 50px 20px;
    border-radius: 40px;
}
.offer-kids .img img{
    position: absolute;
    max-width: 500px;
    top: -15%;
    height: auto;
    background-size: cover;
}
.offer-kids .content-img img{
    width: 25%;
}
.offer-kids h2{
    font-size: 50px;
    font-family: 'Poppins';
    margin-top: 30px;
}

